.slideshow{
    position: relative;
}
.slideshow img{
    object-fit: cover;
    height: 255px;
    width: 100%;
    border-radius: 10px;
}
.slideshow-btn-count{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 95%;
    height: 100px;
    padding: 0 0 0 15px;
}
.btn-slideshow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}   
.btn-slideshow img{
    width: 12px;
    height: 20px;
}
#btn-next{
    border: none;
    background-color: transparent;
}
#btn-prev{
    border: none;
    background-color: transparent;
}
.slideshow-count{
    text-align: center;
    color: transparent;
}
