.rating {
    margin: 20px 0 20px 0;
    & img {
        margin-left: 6px;
        width: 1em;
        height: 1em;
        @media (min-width: 768px) {
            width: 1.5em;
            height: 1.5em;
        }
    }
}
