@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@500&family=Raleway:wght@400;700&display=swap');

html, body{
    max-width: 1440px;
    margin: 0 auto;
    padding:0;
    min-height:100vh;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family:'Montserrat';
    color: #FF6060;
    padding-bottom: 20px;
}

main{
    margin: 20px;
}



@media only screen and (min-width: 768px){
    main{
        margin: 40px 100px 0 100px;
    }
    
    .gallery{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 0 1.5em 1.5em 1.5em;
        background-color: #f7f7f7;
        border-radius: 25px;
        height: 100%;
    }
    .gallery-card{
        width:32%;
        margin:0;
    }
 
}
