
.accomodation-container-tag{
    display: flex;
    justify-content: flex-start;
}

.accomodation-tag {
    display: flex;
    justify-content: center;
    line-height: 150%;
    padding: 6px;
    margin-right: 0.75em;
    border-radius: 5px;
    font-size: 0.75em;
    color: white;
    background-color: #FF6060;
    list-style-type: none;
}
@media only screen and (min-width: 768px){
    .img-slideshow img{
        height: 415px;
    }
    .slideshow-btn-count{
        width: 95%;
        height: 180px;
       
    }
    .slideshow-count{
        color: white;
        
    }
    .accomodation-collapse-container{
        display: flex;
        justify-content: space-between;
        }
        
    .accomodation-collapse{
        height: 100%;
        width: 49%;
        }
    
    .accomodation-banner{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;;
    }
    .accomodation-container-rating-host{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .accomodation-host img{
        width: 4em;
        height: 4em;
    }
    .accomodation-host p{
        font-size: 1.2em;
        margin-right: 10px;
    }
    .rating img{
        margin-left: 6px;
        width: 1.5em;
        height: 1.5em;
    }
}