.collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    width: 100%;
    border-radius: 5px;
    &__label {
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 1rem;
        background-color: #ff6060;
        border-radius: 5px;
        padding: 8px;
        line-height: 19px;
        & img {
            width: 16px;
            height: 9px;
        }
    }
    &__content {
        margin-top: 0;
        color: #ff6060;
        background: #f7f7f7;
        margin-top: 0;
        padding: 10px;
        font-size: 0.8rem;
        &--ul {
            margin: 0;
            color: #ff6060;
            background: #f7f7f7;
            padding: 10px;
            font-size: 0.8rem;
            list-style-type: none;
        }
    }
}

.icon-rotate {
    transform: rotate(180deg);
}
