.header{
    display: flex;
    justify-content: space-between;
    margin : 20px;
}

.navbar {
    display: flex;
  
}

.navbar-li {
    display: flex;
    padding-left: 1rem;
    text-transform: uppercase;
    align-items: center;
    
}

a:-webkit-any-link {
    text-decoration: none;
    color: #FF6060;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
  }