@import "../../styles/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @media (min-width: 768px) {
        margin: 40px 100px 0 100px;
    }
    & img {
        max-width: 45%;
        height: 47px;
    }
    &__navbar {
        display: flex;
        margin-bottom: 0;
        padding-left: 30px;
        &--li {
            display: flex;
            padding-left: 1em;
            text-transform: uppercase;
            align-items: center;
            @media (min-width: 768px) {
                padding-left: 3em;
                text-transform: capitalize;
                font-size: 1.4em;
            }
            &:hover {
                text-decoration-line: underline;
            }
            & a {
                text-decoration: none;
                color: $primary-color;
                cursor: pointer;
                font-size: 0.8em;
                @media (min-width: 768px) {
                    font-size: 1em;
                }
            }
            & a.active {
                text-decoration-line: underline;
            }
        }
    }
}
