.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @media only screen and (min-width: 768px) {
            margin: 40px 100px 0 100px;
        }

    &__navbar {
        display: flex;

        &--li {
            display: flex;
            padding-left: 1em;
            text-transform: uppercase;
            align-items: center;
            &:hover {
                text-decoration-line: underline;
            }
            & a {
                text-decoration: none;
                color: #ff6060;
                cursor: pointer;
                font-size: 0.9em;
                @media only screen and (min-width: 768px) {
                    font-size: 1em;
                }
            }
            
            & a.active {
                text-decoration-line: underline;
            }
        }
    }
}


