@import "../../styles/variables.scss";

.page-error {
    text-align: center;
    margin-top: 25%;
    padding: 0 20px 0 20px;
    height: 62vh;

    &__number {
        font-size: 96px;
        font-weight: 700;
    }
    & p {
        font-size: 1em;
    }
    & a {
        color:$primary-color;
        text-decoration-line: underline;
    }
}
