@import "../../styles/variables.scss";

.page-error {
    text-align: center;
    margin-top: 30%;
    padding: 0 20px 0 20px;

    @media (min-width: 768px) {
        margin-top: 8%;
    }
    &__number {
        font-size: 96px;
        font-weight: 700;
        @media (min-width: 768px) {
            font-size: 15em;
        }
    }
    & p {
        margin-bottom: 120px;
        font-size: 1, 1em;
        @media (min-width: 768px) {
            font-size: 2em;
        }
    }
    & a {
        color: $primary-color;
        text-decoration-line: underline;
    }
}
